/*
 yarn add --dev \
  eslint-config-fbjs \
  eslint-config-prettier \
  eslint-plugin-babel \
  eslint-plugin-flowtype \
  eslint-plugin-jsx-a11y \
  eslint-plugin-prettier \
  eslint-plugin-react \
  eslint-plugin-relay \
  eslint \
  babel-eslint
*/

{
  extends: ['fbjs', 'prettier'],
  plugins: ['prettier'],
  rules: {
    'prettier/prettier': [
      'error',
      {
	bracketSpacing: false,
	jsxBracketSameLine: true,
	singleQuote: true,
	trailingComma: 'all',
	useTabs: false,
      },
    ],
  },
}
