{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-unused-vars": [
      2,
      {
        "ignoreRestSiblings": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "jsxBracketSameLine": true,
        "singleQuote": true,
        "trailingComma": "all",
        "useTabs": false
      }
    ]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "^16.8.0"
    }
  }
}